/* flex e borda (div_CardPequeno), 
imagem fique pequena(img_CardPequeno), e as informações maiores */

/* .div_CardPequeno{
    
}
.img_CardPequeno{
    
    
}
.div_ArmazenarInformacao{
    display: flex;
    margin: 5px;
}
.div_ArmazenarInformacao h4{
    margin: 5px;

}
.div_ArmazenarInformacao p{
    margin: 5px;

} */